* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F5F5;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #1f6339;
}

main {
    display: flex;
}

aside {
    max-width: 300px;
    min-height: 100vh;
    border: 2px solid #F5F5F5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

aside div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    max-height: 35px;
    font-size: 35px;
    margin-top: 10px;
}

aside figure img {
    max-width: 220px;
    max-height: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.sobreMim-perfil {}

.sobreMim-perfil p {
    padding: 8px;
    padding-top: 12px;
    text-align: center;
    /*border-top: 2px solid #F5F5F5;*/
    border-radius: 10px;
}

.rede-social img {
    width: 44px;
    height: 44px;
}

hgroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

article {
    width: 600px;
    height: 300px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;

}

article figure {
    width: 100%;
    height: 100px;
}

.img-projeto {
    width: 100%;
    border-radius: 10px;
}

.descricao-projeto {
    width: 100%;
    height: 200px;
    padding: 10px;
    padding-left: 14px;
    background-color: #12801c;
    border-radius: 10px;
}

.descricao-projeto h2 {
    margin-bottom: 8px;
}